:root {
--main-color: #2F303A;
--second-color: #F5F4FA;
--main-text-color: #212121;
--second-text-color: #757575;
--accent-text-color: #2196F3;
--logo-text-header: #000000;
--logo-text-footer: #fff;
--body-color: #fff;
--second-body-color: #F5F4FA;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--body-color);
}

/*Header*/

.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-text-header);
}

.accent-logo {
    color: var(--accent-text-color);
}

li {
    list-style-type: none;
}

.navigation-bar {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--main-text-color), #212121;
}

.contact-info {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.navigation-bar:hover,
.navigation-bar:focus{
    color: var(--accent-text-color);
}

.contact-info:hover,
.contact-info:focus {
    color: var(--accent-text-color);
}

/*Main body of main page*/

/*main section*/

.main-section {
background-color: var(--main-color);
}
.main-title {
font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--body-color);
}


button {
    border: none;
    cursor: pointer;
}
.order-button {
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--body-color);
}

.order-button:hover,
.order-button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*features section*/

.features-section {
    background: var(--body-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/*activity section*/

.activity-section {
    background-color: var(--body-color);
}

.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*team section*/

.team-section {
    background: var(--second-body-color);
}

.team-list {
    background-color: var(--body-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
}

.team-position {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--second-text-color);
}

/*Footer*/

.footer {
    background-color: var(--main-color);
}
.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--logo-text-footer);
    text-decoration: none;
}

.address-section {
    font-style: normal;
}

.footer-address {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--body-color);
    text-decoration: none;
}


/*Portfolio page*/
.filter-button {
    background-color: var(--second-color);
    border-radius: 4px;
    font-style:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    height: 38px;
    left: 593px;
    top: 174px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--body-color);
}

.all-list {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: var(--body-color);
    border: 1px solid #EEEEEE;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}

.project {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}